[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-heroku = "*"
gunicorn = "*"
"django-markdown2" = "*"
libsass = "*"
django-compressor = "*"
django-sass-processor = "*"

[dev-packages]

[requires]
python_version = "3.6"
