{% extends "base.html" %}

{% block main %}

{% include "header.html" %}

<section class="main">
    {% if learnings|length > 0 %}
    {% load learnings_extras %}
    <ul class="timeline list learnings-list">
        {% for days_ago, learnings_in_day in learnings.items %}
        <li class="timeline-chunk">
            <div class="date learning-date" title="{{ learnings_in_day.date }}">{{ learnings_in_day|days_since|capfirst }}</div>
            <ul class="timeline-chunk-items">
                {% for learning in learnings_in_day.learnings %}
                <li class="timeline-item learning">
                    <a href="learning/{{ learning.id }}">
                        {{ learning }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </li>
    </ul>
    {% else %}
    <p>No learnings to show yet.</p>
    {% endif %}
    {% include "add_button.html" with meta=meta %}
</section>

{% endblock %}
