@import './vars_layout';

.timeline-chunk-items {
    font-size: 16px;
    line-height: 1.5;
}

.timeline-item.draft {
    opacity: 0.5;
}

@media (max-width: $breakpoint_wide) {
  .timeline-chunk {
    .date {
        margin-bottom: 1.5em;
        margin-top: 1.5em;
    }
    .timeline-chunk-items {
        margin-bottom: 3em;
    }
  }
}

@media (min-width: $breakpoint_wide + 1px) {
  $date_column_width: 80px;
  $date_margin_right: 20px;
  .timeline-chunk {
    font-size: 0; // Remove white space
    .date,
    .timeline-chunk-items {
        display: inline-block;
     }
    .date {
        text-align: right;
        margin-right: $date_margin_right;
        width: $date_column_width;
    }
    .timeline-chunk-items {
        width: calc(100% - #{$date_column_width} - #{$date_margin_right});
    }
  }
}
