@import './vars_layout';

.timeline-chunk-items {
    font-size: 16px;
    line-height: 1.5;
    li.learning {
      margin-bottom: 1.5em;
  }
}

.timeline-item.draft {
    opacity: 0.5;
}

@media (max-width: $breakpoint_wide) {
  .timeline-chunk {
    .date {
        margin-bottom: 1.5em;
        margin-top: 1.5em;
    }
    .timeline-chunk-items {
        margin-bottom: 3em;
    }
  }
}

@media (min-width: $breakpoint_wide + 1px) {
  $date_column_width: 80px;
  $date_margin_right: 20px;
  .timeline-chunk {
    display: flex;
    flex-direction: row;
    .date {
        text-align: right;
        margin-right: $date_margin_right;
        width: $date_column_width;
    }
    .timeline-chunk-items {
       flex-grow: 1;
       a p {
         line-height: 1;
         margin: 0;
       }
    }
  }
}
